.header-blog {
  margin-top: 30px;
}

/* main section */
.jumbotron {
  margin-top: 10px;
  background: #ff9a00;
  color: #ffff;
  padding: 40px;
}

.section-subtitle__main {
  font-size: 1.2em;
}

.section_main--link {
  color: #ffff;
  font-size: 1.2em;
  font-weight: bold;
}

.section-title--main {
  font-style: italic;
}
/**********************/
.sub-main_1{
  margin: 0;
}
.blog-1__img{
  padding: 0;
}

  `
