body{
margin: 0;
font-size: 20px;
font-family: 'Montserrat', sans-serif;
}
h3{
  letter-spacing: 2px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   color:#f5f5f5;
}
h2{
  font-family: 'Montserrat', sans-serif;
  color: #f5f5f5;
  padding: 10px;
}

/* Tittle */
.title-box{
  background: #1abc9c;
  text-align: center;
  padding: 80px;

}
#b1{
  padding: 30px;
}
/* Introduction */
.intro
{
  background: #474e5d;
  text-align: center;
  padding: 50px;
  color: #ffff;
}
.In{
  padding: 20px;
}
/* Navigation Bar */
.navbar-brand{
  padding-left: 80px;
  letter-spacing: 5px;
  font-size: 18px;
}
.nav-item{
  padding-right: 60px;
  font-size:18px;
}
/* Features */
.feature-box{
  text-align: center;
  background:  #ffffff;
  padding: 60px;
}
#feature{
  padding: 60px;
}
#fe{
  color: #000000;
}
/* footer */
.footer{
    background: #474e5d;
    padding: 60px;
}

@media (max-width: 768px){
  .title-image {
    width: 100%;
  }
  .feature-box {
    padding: 30px 0;
  }
 }