body{
  margin: 0;
}
/* Header section */

.header-section{
  background: black;
  text-align: center;
}
.logo-img{
  padding: 30px 0 30px 0;
}
.navbar-brand{
  display: none;
}
.navbar-nav{
  padding-left: 25px;
}
.main_title-img{
  height: auto;
  width: 100%;
}
.title-section{
  position: relative;
}
.text-block{
position: absolute;
bottom: 170px;
width: 35%;
padding:2px 0 0 80px;
}
/*End  Header section */

/* About Section */
.about-section{
  padding-left:60px;
}
.about-headng::first-letter{
  font-size: 200%;
  color:#00adb5;
}
.about-subtitle{
  font-size: 1.2em;
}
/*End About Section */

/* JEWELLARY section */
.jewellary-section{
  padding:5%;
}
.jewellary-section_img{
padding-bottom: 25px;
padding-left: 10px;
}
.jewellary-heading::first-letter{
  font-size: 200%;
  color:#00adb5;
}
.center{
  text-align: center;
}
/*End JEWELLARY section */

/* CONTACT Section */
.contact-row{
  background:#444343;
 padding: 70px 0 50px;
margin-bottom: 80px;
margin-left: 0;
margin-right: 0;
}
.contact-section_img{
  padding-left: 60px;
  text-align: center;
  line-height: 500px;
}
.text-center::first-letter{
  font-size: 200%;
  color:#00adb5;
}
.input{
    width: 80%;
    border-radius: 200px;
    height: 60px;
    padding: 10px 30px;
    background: #e7e6e6;
    font-size: 17px;
    color: #929292;
    font-weight: 200;
    border: none;
    margin: 20px 0 0 20px;
}
.btn{
    background: #72dd78;
    border: none;
    color: #fff;
    height: 70px;
    font-size: 18px;
    font-weight: 300;
    border-radius: 100px;
    text-align: center;
    width: 80%;
    margin: 10px auto;
    line-height: unset;
    margin: 20px 0 0 20px;

}
.no-padding{
  padding: 0;
  margin: 0
}
/* End CONTACT Section */
/* Footer */
.footer{
  background: #171817;
}
/* * Media Querey section */
@media(max-width:540px) {
  .navbar-brand{
      display: block;
    }
  .text-block{
    display: none;
  }
  .about-section{
    width: 100%;
    padding: 0 15px;
  }
  .about-img{
    width: 100%;
    height: auto;
  }
  .contact-section_img{
    width: 80%;
    height: auto;
  }
  .btn{
    /* margin-left: 60px; */
    width: 80%;
    margin: 10px auto;
    line-height: unset;
  }
  .row{
    margin: 0;
  }
  .jewellary-section_img {
    width: 100%;
    padding: 20px 0;
  }
  .contact-form-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }
  .contact-form-container form {
    width: 100%;
  }
  .input{
    margin: 10px auto;
  }
}

/*End Media Querey section */

/* * Media Querey section */
/* Media query for ipad */
@media(max-width:540px) {
}

/*End Media Querey section */
