body{
  text-align: center;
}
#title-info{
font-size: 1.5rem;
font-weight: 300;
width: 60%;
margin: auto;
}
#pricing{
  padding: 70px;
}
.border-bottom{
  padding: 20px;
border-bottom:1px solid #dee2e6;
}
.bg-white {
    background-color: #fff;
}
.nav-link{
  margin: 0 1rem 0 1rem;
}
.section-heading{
  padding-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
}
.pricing-column{
padding-top: 40px;
padding-right: 40px;
padding-left: 40px;
padding-bottom: 50px;
}
.footer-name{
  font-size: 1rem;
}
a{
color: black
}
